<mat-toolbar>
  <span>Doqfy</span>
  <span class="example-spacer"></span>
  <!-- Dropdown for Services -->
  <mat-menu #servicesMenu="matMenu">
    <button mat-menu-item>Service 1</button>
    <button mat-menu-item>Service 2</button>
    <button mat-menu-item>Service 3</button>
  </mat-menu>

  <button mat-button [matMenuTriggerFor]="servicesMenu">
    Services
    <mat-icon>keyboard_arrow_down</mat-icon>
  </button>

  <button mat-button class="menu-btn">User Management</button>
  <button mat-button class="menu-btn">My Orders</button>
  <button mat-button class="menu-btn">Reports</button>
  <button mat-button class="menu-btn">Stamp Inventory</button>
  <button mat-button class="menu-btn">Bar Codes</button>
  <button mat-button class="menu-btn">Invoice</button>
  <mat-chip>coming soon</mat-chip>
  <span class="example-spacer"></span>

  <button
    mat-icon-button
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
  >
    <mat-icon matBadge="2" matBadgeColor="warn"
      >notification_important</mat-icon
    >
  </button>

  <!-- Dropdown for Services -->
  <mat-menu #profileMenu="matMenu">
    <button mat-menu-item>Service 1</button>
    <button mat-menu-item>Service 2</button>
    <button mat-menu-item>Service 3</button>
  </mat-menu>

  <button mat-stroked-button [matMenuTriggerFor]="profileMenu">
    <span><mat-icon>keyboard_arrow_down</mat-icon>
    Michael Shah
    <mat-icon class="avatar-icon">account_circle</mat-icon></span>
  </button>
</mat-toolbar>
